<html>
  <head>
    <title>Sample 2</title>
  </head>
  <body>
    <div>
      {% if model %}
        Hello {{model.Value}}
      {% else %}
        Dave is not here
      {% endif %}
    </div>
  </body>
</html>